.search{
    display: flex;
    gap: 2rem;
}

.findUser{
    padding: 6px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.mainContainer{
    background-color: rgb(219, 218, 218);
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    /* height: 100%; */
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.selectedChat{
    display: grid;
    
}